@{
    ViewBag.Title = "About";
}
@Html.Partial("_NavBar")

<br />
<h3 class="text-success">This Web Application was developed as a Result of Quarantine .</h3>
<h3 class="text-warning">In this application you can share your thoughts and have fun.</h3>
<h3 class="text-danger">Your Credentials are securely stored &#128123;</h3>

<h2 class="text-info">&#127969; Stay Home Stay Safe &#127969;</h2>
