@{
    ViewBag.Title = "Contact";
}
@Html.Partial("_NavBar")
<style>
    #contact {
        margin-top:30px;
        background-color: #043353;
        border: 1px solid #043353;
        border-radius:12px;
        width:50%;;
    }
    h2 {
        margin-top: 80px;
        background-color: #e44652;
        text-align: center;
        padding: 17px;
        color: #faf8f0;
        font-family: Montserrat;
    }
    h4
    {
        color:#faf8f0;
        text-align:center;
    }
    #details
    {
        margin-top: 90px;
        color: #e4dfcf;
        margin-left: 30px;
        margin-bottom:15px;
    }
</style>
<div id="contact">
    <h2>Vivin Jeya Joshua</h2>
    <h4>Web Developer</h4>
    <p id="details">M | 7395875077 <span style="float:right;margin-right:30px;">vivinjoshua22@gmail.com</span></p>
</div>